{% load url from future %}
<h1>Simmons Elections - Polls</h1>
<p>Hi {{ user.first_name }} ({{user.username}})! </p>
<p>Polls will close on *** at ***pm.  </p>
<p>Select a position below to vote: </p>
Want to change who you've voted for already? Just vote again!
{% if latest_poll_list %}
    <ul>
    {% for poll in latest_poll_list %} <!-- /polls/{{ poll.id }}" -->
        <li><a href="{% url 'poll_vote' poll.id %}">{{ poll.question }}</a> {% if poll.answer %}Answered at {{ poll.answer.created }}!{% endif %}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
