{% load url from future %}
{% load staticfiles %}  
<!DOCTYPE html>
<html>
  <head>
    <title>House Government Elections 2013-2014</title>
    <link href="{% static 'polls/style.css' %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  </head>
  <body>
  
    <div class="horizontal-region header">
      <div class="content">
        <img class="header-img" src="{% static 'polls/img/circle-icon.png' %}">
        <div class="header-txt">House Government Elections 2013-2014</div>
        <div class="kerberos">signed in as</br>{{user.username}}</div>
      </div>
    </div>
    <div class="horizontal-region main">
      <div class="content">

        <div class="helper-txt">
	  <p>Hi {{ user.first_name }},</p>
	  <p>There are 16 positions up for election. You may choose your 1st, 2nd, and 3rd choice for each position. Until <b>polls close at 5pm on Sunday, November 17</b>, you can go back and change your vote.</p>
        </div>

	{% for poll_obj in poll_list %} <!-- /polls/{{ poll.id }}" -->	
        <div class="tile {% if poll_obj.answer != None %}voted{% else %}notyet{% endif %}">
          <div class="position">{{ poll_obj.poll.question }}</div>
	  {% if poll_obj.answer != None %}
          <div class="status">Voted on {{poll_obj.answer.created}}</div>
	  {% else %}
          <div class="status">You haven't voted yet.</div>	  
	  {% endif %}

	  {% for choice in poll_obj.choices %}
          <div class="option {% if choice.rank %}rank{{choice.rank}}{% endif %}">
	    <div class="circle">{{choice.rank}}</div>
            {{choice.choice}}
          </div>
	  {% endfor %}
          <a href="{% url 'poll_vote' poll_obj.poll.id %}"><div class="btn">{% if poll_obj.answer %}Change{% else %}Vote{% endif %}</div></a>
        </div>
	{% endfor %}
      </div>
    </div>
    <div class="horizontal-region footer">
      <div class="content">
        <div class="footer-txt">If you experience any difficulties with this site, email <a href="mailto:simmons-nominations@mit.edu">simmons-nominations@mit.edu</a>.</div>
      </div>
    </div>

  </body>
</html>
