{% load url from future %}

{% if error_message %}{{ error_message }}{% else %}
You could not be identified by your certificate or you don't have certificates. If you're silly enough to not have certificates, go get a <a href="http://ist.mit.edu/certificates">MIT certificate</a>. Download the MIT CA and then get your
 personal certificate. If you're really silly and don't want to get a certificate, enter your email below for further instructions.<br>
<br>
<form action="{% url 'polls_login_email' %}" method="post">
{% csrf_token %}
Kerberos, including the @mit.edu (For example, something@mit.edu)<br>
<input type="text" name="email" id="email" /><br>
<input type="submit" value="Send an email to me!" />
</form>

<br>Email simmons-nominations@mit.edu if you need help.{% endif %}
